/* footer block */
.footer {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}
.footer .footer__img {
  width: 100%;
}

.footer .footer__more-info {
  font-family: fantasy, cursive;
}

/* task block */
.task__text-inputs {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task__text-inputs:focus {
  color: #333;
}

.task__text-labels {
  padding: 0 10px;
}

/* list-item block */
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item > * {
  vertical-align: middle;
}

/* Edit Task */
.list-item .task__text-inputs {
  display: none;
}

.list-item.edit-mode .text-inputs {
  display: inline-block;
  width: 224px;
}

.list-item.edit-mode .task__text-inputs {
  display: inline-block;
  width: 100%;
  max-width: 327px;
}

.list-item.edit-mode .text-labels {
  display: none;
}

.list-item.edit-mode .task__text-labels {
  display: none;
}

.list-item__buttons {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.list-item__buttons:hover {
  color: #3a3a3a;
}

.list-item .list-item__checkbox-inputs {
  margin: 0 10px;
}

.list-item__main {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 0;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

/* Completed */
#completed-tasks .list-item__main {
  text-decoration: line-through;
  color: #888;
}

.remove-button-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.remove-button-img:hover {
  transform: rotateZ(0);
}

/* lists block */
.lists {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.lists__content {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

/* section-titles block */
.section-titles {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* new-task block */
.new-task__title {
  display: block;
  margin: 16px 0 20px;
}

.new-task__text-inputs {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 0 0 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  flex-grow: 1;
}

.new-task__text-inputs:focus {
  color: #333;
}

.new-task__wrapper {
  display: flex;
}

.new-task__buttons {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.new-task__buttons:hover {
  color: #3a3a3a;
}

/* main-page block */
.main-page {
  display: block;
  width: 500px;
}

.main-page.main-page_centered {
  margin: 0 auto 0;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}